---
import BackToTop from "@components/control/BackToTop.astro";
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import Layout from "./Layout.astro";

interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<Layout title={title}>

<!-- Navbar -->
<div id="top-row" class="z-50 pointer-events-none relative transition-all duration-700 max-w-[var(--page-width)] px-0 md:px-4 mx-auto">
    <div id="navbar-wrapper" class="pointer-events-auto sticky top-0 transition-all">
        <Navbar></Navbar>
    </div>
</div>

<!-- Main content without sidebar -->
<div class="absolute w-full z-30 pointer-events-none" style="top: 5.5rem">
    <div class="relative max-w-[var(--page-width)] mx-auto pointer-events-auto">
        <div class="transition duration-700 w-full mx-auto px-0 md:px-4">
            <main id="swup-container" class="transition-swup-fade overflow-hidden w-full">
                <div id="content-wrapper" class="onload-animation">
                    <slot></slot>
                    <div class="footer onload-animation hidden lg:block mt-8">
                        <Footer></Footer>
                    </div>
                </div>
            </main>

            <div class="footer onload-animation block lg:hidden mt-8">
                <Footer></Footer>
            </div>
        </div>

        <BackToTop></BackToTop>
    </div>
</div>

</Layout>
